body {
    background-color: #cdd6da;
}

body p {
    font: 14px 'Bitter', serif;
    line-height: 22px;
}

h1 {
    font: 88px 'Syncopate', sans-serif;
    text-align: center;
}

h2 {
    font: 48px 'Raleway', sans-serif;
}

h3 {
    font: 22px 'Raleway', sans-serif;
    margin-top: 0;

}

#wrapper {
    text-align: center;
    margin: 0 auto;
}

#content {
    margin: 0 auto;
    padding: 25px 40px;
    width: 80%;
    background-color: aliceblue;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius:15px;
    overflow:hidden;
}

#menu {
    text-align: center;
    padding-bottom: 40px;
    width: 500px;
}

#menu ul {
    text-align: center;
    list-style:none;
}

#menu ul li {
    text-align: center;
    display:inline;
    float:left;
    margin-bottom:20px;
}

#menu ul li a {
    padding: 20px;
    text-decoration: none;
    font: 17px 'Bitter', serif;
    color: #402e16;
}

#menu ul li a:hover {
    color: cadetblue;
}

#menu ul li a:active {
    color: cadetblue;
}

#center {
    text-align: center;
    margin: 0 auto;
}

.footer {
    clear: both;
    float: none;
    text-align: center;
}

.pet-page {
    clear: both;
}

.pet-image {
    width: 45%;
}

.pet-info {
    width: 55%;
    text-align: left;
    float: right;
}

.favorite-info {
    width: 70%;
    text-align: left;
    float: right;
}

.pet-content {

}

.responsive {
    width: 100%;
    height: auto;
}

.home-image {
    width: 600px;
    text-align: center;
}

.random-pet-image {
    width: 350px;
    height: auto;
    float: left;
    margin: 0 20px 20px 20px;
}

.favorite-image {
    width: 200px;
    height: auto;
    float: left;
    margin: 0 20px 20px 20px;
}

.dropdown {
    margin-bottom: 40px;
}

.num-faves {
    text-align: left;
    margin-left: 20px;
}

.showFavorites {
    overflow: hidden;
    margin-bottom: 20px;
}

.ng-hide:not(.ng-hide-animate) {
    /* this is just another form of hiding an element */
    display: block!important;
    position: absolute;
    top: -9999px;
    left: -9999px;
}

