<div ng-include="'views/templates/nav.html'"></div>

<div class="favorites-page">

    <h2>Favorites</h2>

    <p class="num-faves">Number of Favorites: {{favorites.length}}</p>

    <div class="showFavorites" ng-repeat="favorite in favorites">

        <div class="pet-image"><img ng-src="{{favorite.image}}" class="favorite-image"></div>

        <div class="favorite-info">

            <h3>{{favorite.name}}</h3>
            <p>Id: {{favorite.api_id}}</p>

            <p>Description: {{favorite.description}}...</p>
            <p><button class="delete-button" ng-click="deleteFavorite(favorite.api_id)">Delete from Favorites</button>
            </p>

        </div>

    </div>

</div>