<div class="petPage">

    <div ng-include="'views/templates/nav.html'"></div>

    <div class="dropdown">
        <select autofocus name="animalList" ng-change="storeAnimal()" ng-model="animal">
            <option value="" selected="selected">Choose an animal</option>
            <option value="dog">Dog</option>
            <option value="cat">Cat</option>
            <option value="smallfurry">Small Furry Animal</option>
            <option value="barnyard">Barnyard</option>
            <option value="bird">Bird</option>
            <option value="horse">Horse</option>
            <option value="pig">Pig</option>
            <option value="reptile">Reptile</option>
        </select>
    </div>

    <p class="petInfo">Welcoming a pet into your family is a big decision, but chances are good that your life will be better than ever
        with the companionship of your new best friend. When you’re ready to welcome a dog or cat (or rabbit or ferret
        or bird) into your home, use Petfinder as your jump-off.</p>
    <img src="/views/images/wiener-dog.jpg" alt="wiener-dog" class="responsive" width="600" height="399"/>

</div>